<main class="main">
<div class="login-form">
    <h1>TechBlog CMS-style</h1>
    <h3>Enter your login credentials:</h3>
    <form action="">
        <label for="username">username:</label>
        <input type="text" id="username" name="username" placeholder="enter username">
        <label for="password">password:</label>
        <input type="password" id="password" placeholder="enter password">
        <button id="submit">submit</button>
    </form>
<p>Not registered? <a href="sign up to create account">sign up to create account</a></p>
</div>
</main>