<div class="new-post">
    <div class="create-new-post">
        <h3>Create New Post</h3>
    </div>
    <form action="">
        <label>title</label>
        <input type="text" placeholder="enter title....">
        <label>Content</label>
        <input type="text" placeholder="enter content....">
        <button id="Create">Create</button>
    </form>
</div>