
#Logout {
    border: 3px solid green;
    text-align: center;
    color: white;
    border-radius: 5px;
    background-color: hsl(160, 100%, 75%);
    width:77px;
}
#Login {
    border: 3px solid green;
    text-align: center;
    color:white;
    border-radius: 5px;
    background-color: #7FFFD4;
    margin-bottom: 8px;
    width:77px;
}
#Dashboard {
    border: 3px solid green;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    border-radius: 5px;
    background-color: #7FFFD4;
    margin-bottom: 8px;
    width:77px;
}
#Home {
    border: 3px solid green;
    text-align: center;
    color: white;
    border-radius: 5px;
    background-color: #7FFFD4;
    margin-bottom: 8px;
    width:77px;
}

#title{
    color: white;
    border: 7px solid red;
    display: inline-block;
    background-color:#8B0000;
    padding: 5px;
    position: relative;
    top: 20px;
    left: 25px;
    margin-bottom: 3%;
}

body{
    background-color: black;
}

.container{
    background-color:#8A2BE2 ;
    padding: 15%;
    display: block;
    margin-left: 2%;
    margin-right:2%;
    margin-top: 2%;
    border: 3px solid #9400D3;
}

.header{
    background-color: black;
    position: relative;
}

.navigation-bar{
list-style-type: none;
margin:0;
padding: 0;
}

li{
    display: inline-block;
}

.post{
    border: 3px solid black;
    padding: 5%;
    position: relative;
}

.post-title{
    border: 3px solid black;
    margin-bottom: 3%;
    padding-bottom: 3%;
    position: relative;
    bottom: 1%;
}

.post-body{
    border: 3px solid black;
    padding-bottom: 3%;
}