<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Paul Bilbatua">
    <link href="stylesheet" rel="">
    <title>Tech Blog</title>
</head>
<header>
    <ul>
        <p>Home</p>
        <p>Dashboard</p>
        <p>Login</p>
        <p>Logout</p>
    </ul>
</header>
<body>
    <div id="title">
        <h3></h3>
    </div>
    <div class="container">

    </div>
</body>

</html>