<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome TechBlog</title>
        <link rel="stylesheet" type="text/css"  href="/public/CSS/style.css"></link>
    </head>
    <body>
        <header>
            <h1>TechBlog CMS-style</h1>
        </header>
            <nav>
                <a href="/">Home</a>
                <a href="Dashboard">Dashboard</a>
                <a href="Login">Login</a>
                <a href="Logout">Logout</a>
            </nav>
        <main>
            <div class="main-container">
                
            </div>
        </main>
    </body>
</html>