<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" type="text/css"  href="CSS/style.css"/>
        <title>Welcome TechBlog</title>
    </head>
    <body>
        <header>
            <h1 id="title">{{title}}</h1>
        </header>
            <ul class="navBar">
                <a id="Home" href="/">Home</a>
                {{#if loggedIn}}
                <a id="Dashboard" href="/Dashboard">Dashboard</a>
                {{else}}
                <a id="Logout" href="/Logout">Logout</a>
                {{/if}}
            </ul>
        <main class="main">
            {{body}}
        </main>
    </body>
</html>