<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" type="text/css"  href="CSS/style.css"/>
        <title>Welcome TechBlog</title>
    </head>
    <body>
        <header>
            <h1 id="title">TechBlog CMS-style</h1>
        </header>
            <ul class="navBar">
               <p id="Home">Home</p>
               <p id="Dashboard">Dashboard</p>
               <p id="Login">Login</p>
               <p id="Logout">Logout</p>
            </ul>
        <main class="main">
            
        </main>
    </body>
</html>